.tlanimate {
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}
.tl-animate {
	@include property-animation(all, $animation-duration, $animation-ease);
	@include animation-timing-cubic-bezier();
}

.tl-animate-opacity {
	@include property-animation(opacity, $animation-duration, $animation-ease);
	@include animation-timing-cubic-bezier();
}